<!DOCTYPE html>
<html lang="en" ng-app="app_root">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
    <script src="script.js"></script>
    <!--// 1. write JS (controller) code to work with calculator-->
</head>
  <body ng-controller="calculator_module">
  <!--// 2. write html(view) code to display the todo list-->
    <div>

        <div class="calculator_container">
            <div class="border" >
                <p class="results_displays_display" name="expression" ng-bind="expression"></p>
                <p class="results_display" name="results_display" ng-bind="results_display"></p>
            </div>
            <div class="calculator_buttons">
                <button name="button0" class="number_button" value="0" ng-click='update(0)'>0</button>
                <button name="buttonClear" class="operation_button" ng-click='clear(expression)'> C </button>
                <button name="buttonCalc" class="operation_button" ng-click='calculate(expression)'> = </button>
                <button name="subtraction_button" class="operation_button" ng-click='update(subs)' ng-bind="subs"> </button>
                <br>
                <button name="button1" class="number_button" value="1" ng-click='update(1)'>1</button>
                <button name="button2" class="number_button" value="2" ng-click='update(2)'>2</button>
                <button name="button3" class="number_button" value="3" ng-click='update(3)'>3</button>
                <button name="division_button" class="operation_button" ng-click='update(division)' ng-bind="division"> </button>
                <br>
                <button name="button4" class="number_button" value="4" ng-click='update(4)'>4</button>
                <button name="button5" class="number_button" value="5" ng-click='update(5)'>5</button>
                <button name="button6" class="number_button" value="6" ng-click='update(6)'>6</button>
                <button name="multiplicationiply_button" class="operation_button" ng-click='update(multiplication)' ng-bind="multiplication"> </button>
                <br>
                <button name="button7" class="number_button" value="7" ng-click='update(7)'>7</button>
                <button name="button8" class="number_button" value="8" ng-click='update(8)'>8</button>
                <button name="button9" class="number_button" value="9" ng-click='update(9)'>9</button>
                <button name="addition_button" class="operation_button" ng-click='update(add)' ng-bind="add"> </button>
            </div>
        </div>
    </div>
  </body>
</html>
