<div class="calculator" id="calculatorId">

  <div id="results"> </div>

  <div class="buttons">
    <button class="button" (click)="clear(1)">C</button>
    <button class="button" (click)="clear(2)">AC</button>
    <button class="button" (click)="addInput($event)">.</button>
    <button class="button" (click)="addInput($event)">/</button>
    <button class="button" (click)="addInput($event)">7</button>
    <button class="button" (click)="addInput($event)">8</button>
    <button class="button" (click)="addInput($event)">9</button>
    <button class="button" (click)="addInput($event)">-</button>
    <button class="button" (click)="addInput($event)">4</button>
    <button class="button" (click)="addInput($event)">5</button>
    <button class="button" (click)="addInput($event)">6</button>
    <button class="button" (click)="addInput($event)">+</button>
    <button class="button" (click)="addInput($event)">1</button>
    <button class="button" (click)="addInput($event)">2</button>
    <button class="button" (click)="addInput($event)">3</button>
    <button class="button" (click)="addInput($event)">*</button>
    <button class="button" (click)="addInput($event)">0</button>
    <button class="button equal" (click)="evaluate($event)">=</button>
  </div>

</div>
